{{ $altText := .Get "alt"}}
{{ with $.Page.Resources.GetMatch (.Get "name") }}
  <figure>
    <a href="{{.RelPermalink}}" aria-label="Open full sized image: {{ $altText }}">
      <img
        srcset="
          {{ (.Resize "320x").RelPermalink }} 320w,
          {{ (.Resize "600x").RelPermalink }} 600w,
          {{ (.Resize "1200x").RelPermalink }} 2x"
        src="{{ (.Resize "600x").RelPermalink }}" alt="{{ $altText }}"/>
    </a>
    <figcaption>
      {{ $altText }}
    </figcaption>
  </figure>
{{ else }}
  <p style="color: red">
    <strong>⚠️ Warning:</strong> unable to find an image
  </p>
{{ end }}
